// Archivo de restricciones de usuario (UCF) //
#######################################
##Asignaci?n de terminales de la AMIBA 2
//DISPLAYS
#NET "SegDisp(7)" LOC = "P16"; // a
#NET "SegDisp(6)" LOC = "P15"; // b
#NET "SegDisp(5)" LOC = "T15"; // c
#NET "SegDisp(4)" LOC = "T14"; // d
#NET "SegDisp(3)" LOC = "T13"; // e
#NET "SegDisp(2)" LOC = "R16"; // f
#NET "SegDisp(1)" LOC = "R15"; // g
#NET "SegDisp(0)" LOC = "R14"; // P
#//ANODOS
#NET "AN(3)" LOC = "E11"; // AN0
#NET "AN(2)" LOC = "D11"; // AN1
#NET "AN(1)" LOC = "C15"; // AN2
#NET "AN(0)" LOC = "E15"; // AN3

//selOp,RESET--PUSH BUTTON
#NET "RESET" LOC = "L1"; // btn3 RST

//Botones selectores de operacion

//CLK reloj 50MHz
NET "CLK" LOC = "E7";

NET "hab" LOC = "M1";
NET "dir" LOC = "P2"; 

NET "CNT(3)" LOC = N1; 
NET "CNT(2)" LOC = R2; 
NET "CNT(1)" LOC = R5; 
NET "CNT(0)" LOC = N8; 