NET CLOCK LOC=E7;

#NET LCD_E LOC=C1;
#NET LCD_RW LOC=D1;
#NET LCD_RS LOC=F3;
#
#NET DATA(0) LOC=C3;
#NET DATA(1) LOC=A5;
#NET DATA(2) LOC=B6;
#NET DATA(3) LOC=A8;
#NET DATA(4) LOC=C10;
#NET DATA(5) LOC=A11;
#NET DATA(6) LOC=A13;
#NET DATA(7) LOC=B15;

NET LCD_E LOC=E2;
NET LCD_RW LOC=F1;
NET LCD_RS LOC=C9;

NET DATA(0) LOC=B1;
NET DATA(1) LOC=A2;
NET DATA(2) LOC=C5;
NET DATA(3) LOC=A6;
NET DATA(4) LOC=C7;
NET DATA(5) LOC=A9;
NET DATA(6) LOC=B10;
NET DATA(7) LOC=B12;

NET"LED(1)" LOC="N1";
NET"LED(0)" LOC="R2";
NET Ain LOC=B14;
NET Bin LOC=B16;

NET direccion1	LOC=M1;
NET E_direccion LOC=P2;

NET "REINI" CLOCK_DEDICATED_ROUTE = FALSE;
NET REINI LOC = L1;
NET BTN LOC=J1;
NET "BTN" CLOCK_DEDICATED_ROUTE = FALSE;
NET numeros_encoder LOC=N9;

