NET CLK LOC=E7;
#NET dir LOC=M1;
NET hold LOC=L1;
NET SonidoOUT LOC=D3;


NET C(8) LOC=B3;
NET C(7) LOC=B5;
NET C(6) LOC=A7;
NET C(5) LOC=B8;
NET C(4) LOC=A10;
NET C(3) LOC=C11;
NET C(2) LOC=B14;
NET C(1) LOC=B16;

NET R(8) LOC=C3;
NET R(7) LOC=A5;
NET R(6) LOC=B6;
NET R(5) LOC=A8;
NET R(4) LOC=C10;
NET R(3) LOC=A11;
NET R(2) LOC=A13;
NET R(1) LOC=B15;


#1
#2
#3
#4
#5
#6
#7
#8