NET CLOCK LOC=E7;
#LCD
NET LCD_E LOC=A2;
NET LCD_RW LOC=E2;
NET LCD_RS LOC=D13;

NET DATA(0) LOC=B3;
NET DATA(1) LOC=A5;
NET DATA(2) LOC=C6;
NET DATA(3) LOC=A8;
NET DATA(4) LOC=C9;
NET DATA(5) LOC=A11;
NET DATA(6) LOC=B13;
NET DATA(7) LOC=B15;

NET REST LOC = J3;
#NET dir1 LOC=M1;
#NET dir2 LOC=P2;

#LEDS INDICADORES
NET M1(1) LOC=N12; 
NET M1(0) LOC=P12;

NET M2(1) LOC=P9;
NET M2(0) LOC=P8;

NET M3(1) LOC=N6;
NET M3(0) LOC=P6;


#SALIDAS A RELEVADORES
NET ReleM1(1) LOC=B15;
NET ReleM1(0) LOC=A13;

NET ReleM2(1) LOC=A11;
NET ReleM2(0) LOC=C10;

#SALIDAS Y ENTRADAS DE BOTONES

NET IN_ButtonM1 LOC =L1;
NET IN_ButtonM2 LOC =J1;
NET IN_ButtonM3 LOC =J1;






