NET CLK LOC=E7;
NET PB1 LOC=L1;
NET PB2 LOC=J1;

NET M1 LOC=P8;
NET M2 LOC=P12;

NET RGB1(2) LOC=N1;
NET RGB1(1) LOC=P1;
NET RGB1(0) LOC=M4;

NET RGB2(2) LOC=R2;
NET RGB2(1) LOC=T4;
NET RGB2(0) LOC=R1;

NET SPK1_Max LOC=B15;
NET SPK1_Min LOC=A13;