NET "clk"   LOC=E7;

NET d1 LOC=M1;
#NET d(6) LOC=P2;
#NET d(5) LOC=N5;
#NET d(4) LOC=T7;
#NET d(3) LOC=R9;
#NET d(2) LOC=P4;
#NET d(1) LOC=R7;
#NET d(0) LOC=N9;

NET q(1) LOC=N1;
NET q(2) LOC=R2;
NET q(3) LOC=R5;
NET q(4) LOC=N8;
NET q(5) LOC=P11;
NET q(6) LOC=P6;
NET q(7) LOC=P8;
NET q(0) LOC=P12;

#NET q_bar(7) LOC=P1;
#NET q_bar(6) LOC=T4;
#NET q_bar(5) LOC=T6;
#NET q_bar(4) LOC=T9;
#NET q_bar(3) LOC=M12;
#NET q_bar(2) LOC=N6;
#NET q_bar(1) LOC=P9;
#NET q_bar(0) LOC=N12;
