#
#DISPLAYS
NET "Seg_Display(7)" LOC = "P16"; # a
NET "Seg_Display(6)" LOC = "P15"; # b
NET "Seg_Display(5)" LOC = "T15"; # c
NET "Seg_Display(4)" LOC = "T14"; # d
NET "Seg_Display(3)" LOC = "T13"; # e
NET "Seg_Display(2)" LOC = "R16"; # f
NET "Seg_Display(1)" LOC = "R15"; # g
NET "Seg_Display(0)" LOC = "R14"; # P

#ANODOS
NET "AN(3)" LOC = "E11"; # AN1
NET "AN(2)" LOC = "D11"; # AN1
NET "AN(1)" LOC = "C15"; # AN2
NET "AN(0)" LOC = "E15"; # AN3

#RESET--PUSH BUTTON
NET "RESET" LOC = "L1"; # btn3 RST
 NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;
NET "Sensor" LOC = "J1"; # btn3 RST
#
NET "Motor_interrupcion" LOC = "N1"; # btn3 RST
NET CLK LOC = E7;
NET pwm LOC = B15;
#NET "sensor" CLOCK_DEDICATED_ROUTE=false;
#NET data LOC = L1;
#NET op_data LOC = N1;
