NET CLOCK LOC=E7;
#LCD
NET LCD_E LOC=E2;
NET LCD_RW LOC=F1;
NET LCD_RS LOC=C9;

NET DATA(0) LOC=B1;
NET DATA(1) LOC=A2;
NET DATA(2) LOC=C5;
NET DATA(3) LOC=A6;
NET DATA(4) LOC=C7;
NET DATA(5) LOC=A9;
NET DATA(6) LOC=B10;
NET DATA(7) LOC=B12;

NET REST LOC = J3;
NET "Rest" CLOCK_DEDICATED_ROUTE = FALSE;

#LEDS INDICADORES
NET M3(1) LOC=N12; 
NET M3(0) LOC=P12;

NET M2(1) LOC=P9;
NET M2(0) LOC=P8;

NET M1(1) LOC=N6;
NET M1(0) LOC=P6;

#SALIDAS A RELEVADORES
NET Rels(2) LOC=a11;
NET Rels(1) LOC=a13;
NET Rels(0) LOC=b15;
NET BEEP LOC=C10;
#Botones pulsadores 
#para activar motores
NET PB1 LOC =L1;
NET PB2 LOC =J1;
NET PB3 LOC =M2;






