NET CLOCK LOC=E7;
#LCD
NET LCD_E LOC=E2;
NET LCD_RW LOC=F1;
NET LCD_RS LOC=C9;

NET DATA(0) LOC=B1;
NET DATA(1) LOC=A2;
NET DATA(2) LOC=C5;
NET DATA(3) LOC=A6;
NET DATA(4) LOC=C7;
NET DATA(5) LOC=A9;
NET DATA(6) LOC=B10;
NET DATA(7) LOC=B12;

NET REST LOC = J3;
NET "Rest" CLOCK_DEDICATED_ROUTE = FALSE;
#NET dir1 LOC=M1;
#NET dir2 LOC=P2;

#LEDS INDICADORES
NET M3(1) LOC=N12; 
NET M3(0) LOC=P12;

NET M2(1) LOC=P9;
NET M2(0) LOC=P8;

NET M1(1) LOC=N6;
NET M1(0) LOC=P6;


#NET M1 LOC=N6;
#NET M2 LOC=P9;
#NET M3 LOC=N12;

#SALIDAS A RELEVADORES
NET Rels(2) LOC=M4;
NET Rels(1) LOC=R1;
NET Rels(0) LOC=T5;
NET BEEP LOC=N8;
#NET ReleM1(0) LOC=A13;
#
#NET ReleM2(1) LOC=A11;
#NET ReleM2(0) LOC=C10;
#
#NET ReleM3(1) LOC=A11;
#NET ReleM3(0) LOC=C10;

#SALIDAS Y ENTRADAS DE BOTONES

#NET IN_ButtonM1 LOC =L1;
#NET IN_ButtonM2 LOC =J1;
#NET IN_ButtonM3 LOC =M2;
NET PB1 LOC =L1;
NET PB2 LOC =J1;
NET PB3 LOC =M2;






