#NET RST LOC=J1;
NET systemCLK LOC=E7;
#NET SWITCH LOC=L1;

NET RS LOC=C9;
#NET LCD_RW LOC=F1;
NET E LOC=E2;

NET DATA(0) LOC=B1;
NET DATA(1) LOC=A2;
NET DATA(2) LOC=c5;
NET DATA(3) LOC=A6;
NET DATA(4) LOC=C7;
NET DATA(5) LOC=A9;
NET DATA(6) LOC=B10;
NET DATA(7) LOC=B12;

NET ioSDA LOC=D5;
NET SCL LOC=C6;

