
NET clk LOC=E7;


NET RS LOC=C9;
NET RW LOC=F1;
NET ENA LOC=E2;

NET DATA_LCD(0) LOC=B1;
NET DATA_LCD(1) LOC=A2;
NET DATA_LCD(2) LOC=c5;
NET DATA_LCD(3) LOC=A6;
NET DATA_LCD(4) LOC=C7;
NET DATA_LCD(5) LOC=A9;
NET DATA_LCD(6) LOC=B10;
NET DATA_LCD(7) LOC=B12;

NET PB1 LOC=L1;
NET PB2 LOC=J1;

NET Motor LOC=N1;
NET EnableMotor LOC=M1;


NET reset_n LOC=P2;
NET SCL LOC=A13;
NET SDA LOC=B15;
NET i2c_ack_err LOC=R2;
